*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #222;
  background-color: #f5f5f5;
}

div {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}

img {
  display: block;
  width: calc(100% + 32px);
  border-radius: 4px 4px 0 0;
  margin: -16px -16px 0 -16px;
}

ol {
  padding: 0;
  list-style: none;
}

li {
  padding: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin: 50px 0;
  background-color: #fff;
}

main {
  margin-top: 32px;
}

header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

header h4 {
  margin-right: 16px;
}

header h5 {
  font-weight: 400;
  color: #888;
}

main pre {
  font: inherit;
  white-space: pre-wrap;
}

main p {
  font-size: 14px;
}

footer {
  margin-top: 18px;
}

footer data {
  margin-right: 16px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  color: #888;
}
